.popupSlide {
    background-color: #fff;
    padding: 0 15px 0;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 99;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 0px #7B5E5E;
    overflow: hidden;
}

.popUpTitleBar {
    border-bottom: 1px solid #D7D9DA;
    background-color: rgba(220, 220, 220, 0.27);
    box-shadow: 0px 0px 1px 0px #ccc;
}
.popupSlideBody {
    padding-top: 15px;
    padding-bottom: 45px;
    overflow-y: scroll;
}

.expandcompress, span.callSlide {
    font-size: 14px;
    line-height: 33px;
    float: left;
    width: 53px;
    text-align: center;
    cursor: pointer;
}