<div *ngIf="active" class="card">
    <div class="row m-2">
        <div class="col-sm-6">
            <div class="clearfix">
                <div class="form-group">
                    <input type="file" name="profile" (change)="onSelectedFile($event)" />
                </div>
            </div>
            <div class="clearfix form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="pull-right">Title</label>
                    </div>
                    <div class="col-sm-8">

                        <input class="k-textbox form-control" placeholder="Title" [(ngModel)]="eventMeta.EventTitle" />
                    </div>
                </div>
            </div>
            <div class="clearfix form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="pull-right">Event Type</label>
                    </div>
                    <div class="col-sm-8">
                        <kendo-dropdownlist class="form-control" [data]="schedulerService.eventType" [value]="defaultEventType.EventType"
                            [textField]="'EventTypeName'" [defaultItem]="defaultEventType" [valueField]="'EventTypeId'"
                            (valueChange)="handleEventChange($event)">
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="clearfix  form-group k-datetime-picker-wrapper">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="pull-right">Start</label>
                    </div>
                    <div class="col-sm-8 form-control">
                        <kendo-datepicker [(ngModel)]="eventMeta.Start">
                        </kendo-datepicker>
                        <kendo-timepicker [(ngModel)]="eventMeta.Start" *ngIf='!editForm.controls.IsAllDay.value'>
                        </kendo-timepicker>
                    </div>
                </div>
            </div>
            <div class="clearfix  k-datetime-picker-wrapper">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="pull-right">End</label>
                    </div>
                    <div class="col-sm-8 form-control">
                        <kendo-datepicker [(ngModel)]="eventMeta.End">
                        </kendo-datepicker>
                        <kendo-timepicker [(ngModel)]="eventMeta.End" *ngIf='!editForm.controls.IsAllDay.value'>
                        </kendo-timepicker>
                    </div>
                </div>
            </div>
            <div class="clearfix col-sm-6 form-control">
                <input type='checkbox' id='k-is-allday-chkbox' class='k-checkbox' [(ngModel)]='IsAllDay' />
                <label class='k-checkbox-label' for='k-is-allday-chkbox'>All Day Event</label>
            </div>
            <div class="col-sm-6">
                <kendo-recurrence-editor *ngIf="isEditingSeries" [(ngModel)]='RecurrenceRule'>
                </kendo-recurrence-editor>
            </div>
        </div>
    </div>
    <div class="text-right m-2">
        <button kendoButton (click)="onCancel($event)">Cancel</button>
        <button kendoButton (click)="onSave(eventMeta)" [primary]="true">Save</button>
    </div>
</div>